@import './shared/variables.scss';

body , html{
  margin: 0;
  font-family: $typography__font-family;
  font-size: $typography__font-size;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
